
<h1>New Product</h1>

<form action="/products" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="description" name="description">
    <input type="number" placeholder="price" name="price" >
    <button type="submit">Submit</button>
  </form>